(cors) {
        @origin header Origin {args.0}
        header @origin Access-Control-Allow-Origin "{args.0}"
        header @origin Access-Control-Request-Method GET
}

0.0.0.0:80 {
    root * /opt/tlm/html/lhc_web
    import cors 0.0.0.0
    php_fastcgi unix//run/php/php7.1-fpm.sock 
}